header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}




body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(0, 0, 0);
}